html, body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100vh;
}
 
body {
     background: url(https://meetanubhav.github.io/hackerimg.jpg) no-repeat 50% 50%;
     background-size: cover;

}
 
h1 {
     position: absolute;
     top: 270px;
     left: 650px;
     transform: translate(-50%, -50%);
     color: #fff;
     font-size: 48px;
     font-family: "Playfair Display";
     font-weight: lighter;
}
p{
     position: absolute;
     top: 350px;
     left: 650px;
     transform: translate(-50%, -50%);
     color: #D5DBDB;
     font-size: 32px;
     font-family: "Playfair Display";
     font-weight: lighter;
}
.txtchng{
     position: absolute;
     top: 125px;
     left: 335px;
     color: #D5DBDB;
     font-size: 8px;
     font-family: "Playfair Display";
     font-weight: lighter;
}
div.txtchng{
     -ms-transform: skewY(10deg); /* IE 9 */
    -webkit-transform: skewY(10deg); /* Safari 3-8 */
    transform: skewY(10deg);
}
 
.toggle-btn {
     position: fixed;
     margin: 1.4em;
     padding: 1em;
     width: 40px;
     height: 12px;
     right: 0;
     z-index: 1;
}
 
span.one {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #fff;
}
 
span.two {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #fff;
     margin-top: 12px;
}
.coder{
     position: absolute;
     top: 220px;
     left: 330px;
     transform: translate(-50%, -50%);
     color: #000000; !important
     font-size: 32px;
     font-family: "Playfair Display";
     font-weight: lighter;
     filter: contrast(550%);
}
 
.menu {
     z-index: 0;
     position: absolute;
     background: #101010;
     height: 100vh;
     width: 100%;
     top: -100%;
}
 
.data {
     padding: 8em 0 0 2em;
     text-align: left;
}
 
ul {
     list-style: none;
}
 
li:first-child {
     color: grey;
     font-family: Poppins;
     font-size: 24px;
}
 
li:not(:first-child) {
     color: #fff;
     font-size: 42px;
}
 
a {
     text-decoration: none;
     color: #fff;
     font-family: Poppins;
}
